.skeleton {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color:#e5e7eb
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;    
    color: #e5e7eb;
}

body {
    margin: 0;
    font-family:'Courier New', Courier, monospace;
}

.header {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: space-around;
}

.header-text {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.links {
    display: block;
    font-size: 18px;
}

.hero-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #1f2937;
    padding: 30px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 30%;
}

.hero-head{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
}

.hero-text{
    font-size: 18px;
    color: #e5e7eb;
}

button {
    align-self: flex-start;
    background-color: #3882f6;
    border-radius: 4px;
    color:#f9faf8;
    border: 0px;
    padding: 4px;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.info-head {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.info-deck{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
}

.info-image{
    width: 200px;
    border: 4px solid #3882f6;
    border-radius: 4px;
}

.info-cards{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.info-text{
    font-size: 18px;
    flex: 1 1;
    width: 130px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    align-items: center;
    justify-content: center;
    padding: 80px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.sign-container {
    background-color: #3882f6;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 100px;
    border-radius: 4px;
}

.sign-info{
    display: flex;
    flex-direction: column;
    border: 0px;
    margin: 30px;
    flex: 1 1;
}

.sign-text {
    color:#e5e7eb;
    flex: 0 1;
}

.sign-button {
    border: solid #ffffff 5px;
    align-self:flex-end;
    justify-self: flex-end;
    margin: 30px;
    flex: 1 1 1;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
}